{
  "extends": "airbnb",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true,
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true,
  },
  "rules": {
    "no-param-reassign": [2, {
      "props": false
    }],
    "chai-expect/missing-assertion": 2,
    "chai-expect/terminating-properties": 1,
    "react/require-extension": 0,
  },
  "plugins": [
    "chai-expect",
    "import",
  ],
}
